@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

* {
  font-family: Arial, Helvetica, sans-serif;
}

#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
#modal-body {
  display: flex;
  flex-direction: column;
  width: 360px;
  background: white;
  height: 100%;
  z-index: 11;
  position: relative;
  .btn {
    width: 150px;
  }
}
[aria-hidden="true"] {
  display: none !important;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 1em;
  row-gap: 2em;
}

svg {
  cursor: pointer;
}
.x-button {
  background: none;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.card {
  width: 15em;
  justify-self: center;
  transition: all 0.5s ease-in-out;
  box-shadow: 10px 10px 100px rgb(170, 170, 170);
  &:hover {
    cursor: pointer;
    box-shadow: 10px 10px 50px black;
  }
}
